<h1> Question 4:  </h1>
<p>Count the number of the character in a String after that Sort the character by the number from highest to lowest and lowest to highest</p>
<p>Note*: Change the default string input by adding str param in url, Ex: ?str=asdasdasdasfa</p>
<p>String input: <%= @str %></p>

<p>Ascending hash: <%= @asc_hash %></p>
<p>Descending hash: <%= @desc_hash %></p>
