<h1> Question 2:  </h1>
<p>Given 2 integer arrays, find the common elements between 2 arrays</p>
<p>Note*: Change the default array input by adding arr1 and arr2 param in url, Ex: ?arr1[]=1&arr1[]=3&arr2[]=1</p>
<p>Array 1: <%= @arr1 %></p>
<p>Array 2: <%= @arr2 %></p>

<p>Common array: <%= @common_arr %></p>
