<h1> Question 3:  </h1>
<p>Find the first non-repeated character in a String</p>
<p>Note*: Change the default string input by adding str param in url, Ex: ?str=asdasdasdasfa</p>
<p>String: <%= @str %></p>

<p>First non-repeated character: <%= @first_non_repeated_char %></p>
