<h1> Question 1:  </h1>
<p>Implement bubble sort (highest to lowest and lowest to highest) in Ruby for array</p>
<p>Note*: Change the default array input by adding arr param in url, Ex: ?arr[]=1&arr[]=3&arr[]=2</p>
<p>Array input: <%= @arr %></p>

<p>Ascending array: <%= @asc_arr %></p>
<p>Descending array: <%= @desc_arr %></p>
